<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <div class="hammer-header text-light">
      <h1 class="nav-bar-header"><%= link_to "Breakstuff", "/" %></h1>
      <i class="icon fa-solid fa-hammer"></i>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <div class="tags text-light"><%= link_to "Bookings", "/bookings", class: "underlined" %></div>
          </li>
          <li class="nav-item active">
            <div class="tags text-light"><%= link_to "Hosted Bookings",  "/owner/bookings", class: "underlined" %></div>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="tags underlined" href="#" text-light>About</a>
        </li>
        <li class="nav-item">
          <a class="tags underlined" href="#" text-light>Contact us</a>
        </li>
        <li class="nav-item dropdown">
          <i class="fa-solid fa-bars menu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier"></i>
          <div class="dropdown-menu dropdown-menu-end menu-opacity" aria-labelledby="navbarDropdown" style="none">
            <a class="dropdown-item" href="#"><%= link_to "Login", "/users/sign_in", class: "item-dark" %></a>
            <a class="dropdown-item" data-turbo-method="delete" href="#"><%= link_to "Log Out", "/users/sign_out", class: "item-dark", data: {turbo_method: :delete} %></a>
          </div>
        </li>
        <!--li class="nav-item"-->
        <!--/li-->
      </ul>
    </div>
  </div>
</div>
