<div class="container">
  <h1>Rooms</h1>
  <% @rooms.each do |room| %>
    <h2><%= room.name %></h2>
    <%= cl_image_tag room.photo.key, height: 300, width: 400, crop: :fill %>
    <h3>   address: <%= room.address %></h3>
    <h3>   price: <%= room.price %> yen</h3>
    <h3>   capacity: <%= room.capacity %></h3>
  <% end %>
</div>
