<div class="page-frame-content">
  <div class="page-frame-header">
    <%= render 'shared/navbar'%>
  </div>
  <div class="page-frame-body">
    <div class="room-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @room.photo.key ? cl_image_path(@room.photo.key, height: 300, width: 400, crop: :fill) : cl_image_path("ue8b275gg03z61ydvkz6why3roed", height: 300, width: 400, crop: :fill) %>);">
      <div class="container">
        <h1><strong><%=@room.name%>!</strong></h1>
        <h2><%=@room.story%></h2>
        <p class="mt-3"><%=@room.description%></p>
        <p>Address: <%=@room.address%></p>
        <p>Price: <%=  number_to_currency(@room.price, unit: "￥", strip_insignificant_zeros: true) %> / day</p>
      </div>
    </div>
    <!-- <div class="room-container">
      <% if @room.photo.key  %>
        <%= cl_image_tag @room.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= cl_image_tag "ue8b275gg03z61ydvkz6why3roed", height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="room-details">
        <h1><%=@room.name%></h1>
        <p>Description: <%=@room.description%></p>
        <p>Story: <%=@room.story%></p>
        <p>Address: <%=@room.address%></p>
        <p>Price: <%=@room.price%>円 / day</p>
      </div>
    </div> -->
    <div class="bookings-container">
      <h2 class="text-center mt-3">Book this room?</h2>
      <div class="container m-3 d-flex justify-content-center">
        <div class="card" style="min-width: 360px;">
          <div class="row p-2 m-3">
            <%= simple_form_for [@room, @booking] do |f|%>
              <%= f.input :date, html5: true, input_html: { min: Date.today} %>
              <%= f.input :number_of_people %>
              <%= f.submit 'book this room', class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-frame-footer">
  <%= link_to "view rooms", rooms_path%>
</div>
</div>
</div>
