<div class="page-frame-content">
  <div class="page-frame-header">
    <%= render 'shared/navbar'%>
  </div>
  <div class="page-frame-body">
    <div class="container">
      <h1><%=@room.name%></h1>
      <h3><%=@room.description%></h3>
      <p><%=@room.story%></p>
      <% if @room.photo.key  %>
        <%= cl_image_tag @room.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= cl_image_tag "ue8b275gg03z61ydvkz6why3roed", height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
    <div class="container mt-3 d-flex justify-content-center">
      <div class="card col-sm-8 col-md-6">
        <div class="row p-3 m-3">
          <%= simple_form_for [@room, @booking] do |f|%>
            <%= f.input :date %>
            <%= f.input :number_of_people %>
            <%= f.submit 'book this room', class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="page-frame-footer">
    <%= link_to "view rooms", rooms_path%>
  </div>
</div>
</div>
