<div class="page-frame-content">
  <div class="page-frame-header">
    <%= render 'shared/navbar'%>
  </div>
  <div class="page-frame-body">

    <div class="room-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @room.photo.key ? cl_image_path(@room.photo.key, height: 300, width: 400, crop: :fill) : cl_image_path("ue8b275gg03z61ydvkz6why3roed", height: 300, width: 400, crop: :fill) %>);">
      <h1><strong><%=@room.name%>!</strong></h1>
      <div class="room-banner-info">
        <h3 class="mt-2"><%=@room.description%></h3>
        <h3 class="mt-3"><strong>Address: <%=@room.address%></strong></h3>
        <h3><strong>Capacity: <%= @room.capacity %></strong></h3>
        <h3><strong>Price: <%=  number_to_currency(@room.price, unit: "￥", strip_insignificant_zeros: true) %> / day</strong><h3>
        <h4 class="mt-5"><%=@room.story%></h4>
      </div>
    </div>

      <div class="bookings-container">
        <h2 class="text-center mt-3">Book this room?</h2>
        <div class="container m-3 d-flex justify-content-center">
          <div class="card" style="min-width: 360px;">
            <div class="row p-2 m-3">
              <%= simple_form_for [@room, @booking] do |f|%>
                <%= f.input :date %>
                <%= f.input :number_of_people %>
                <%= f.submit 'book this room', class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-frame-footer">
    <%= link_to "view rooms", rooms_path%>
  </div>
</div>
</div>
